# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files (MacOS)
.DS_Store

# Ignore .vscode directory (Visual Studio Code)
.vscode/

# Ignore environment variables
.env

# Ignore dist 
./dist